:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 10px;
}

.flex {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .flex-row {
        flex-direction: row;
    }
    .flex-col {
        flex-direction: column;
    }
    .gap-10 {
        gap: 10px;
    }

.column-gap-20 {
    column-gap: 20px;
}

.column-gap-5 {
    column-gap: 5px;
}

label,
.label {
    width: 200px;
}

input,
select {
    width: calc(100% - 200px);
    padding: 3px;
}

input[type=checkbox] {
    padding: 0;
    margin: 0;
    width: 13px;
}

.width-full {
        width: 100%;
    }
    .width-80 {
        width: 80%;
    }
    .width-60 {
        width: 60%;
    }
    .width-50 {
        width: 50%;
    }
    .width-40 {
        width: 40%;
    }

.progress-bar {
    background-color: white;
    height: 20px;
}

.transaction-list {
    border: 1px solid white;
    height: 80px;
}

.button {
    color: green;
    padding: 3px;
    cursor: pointer;
    border: 1px solid #454545;
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #252424;
        color: green;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #e4e4e4;
        color: black;
    }
}